body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    margin: 5% auto;
    text-align: center;

}


table {
    margin: 100px auto;
    text-align: center;
    background-image: linear-gradient(to bottom right, black, white);
}
th, td {
    border: 2px solid gray;
    padding: 1% 100px;
}


.form-floating {
    color: black;
}


#box {
    position: absolute;
    display: none;
    border: 0px;
    top: 10%;
    left: 10%;
    height: 50px;
    width: 50px;
    border-radius: 10%;
    background-color: greenyellow;
}

#box:active {
    background-color: green;
    animation: box-pop 0.2s linear 1;
}

@keyframes box_pop {
    50%  {transform: scale(1.2);}
}

#live_score {
    color: white;
    position: absolute;
    background-color: rgb(39, 39, 39);
    min-width: min-content;
    float:inline-end;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;

    
}

#timer {
    position: absolute;
    font-size: 50px;
    min-width: min-content;
    float: right;
    margin: 20px;
    padding: 15px;
    right: 0;

    
}

#start {
    color: white;
    position: absolute; 
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    font-size: 40px;
    right: 45%;
    top: 40%;
}

.scorediv {
    border: 5px solid grey;
    margin: 10px;
    padding: 10px;
    height: 100%;
    min-height: 500px;
}

.restart_button {
    margin: 100px;
    text-align: center;

}
.form-check-input ~ body[class=text-center] {
    background-color: black;
    color: white;
} 

.form-check-input:checked ~ body[class=text-center] {
    background-color: white;
    color: black;
}


